.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    margin: auto auto auto auto;
}

.info {
    background-color: yellow;
    width: 930px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.reviewsection {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idpw {
    width: 930px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.inputgroup {
    width: 300px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 0;
}

.review {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: end;
}

.reviewheader {
    width: 930px;
}

.comment {
    width: 925px;
    height: 100px;
    margin: auto auto auto auto;
    border: 1px solid rgba(0, 0, 0, 0.281);
}

.commentbtn {
    margin-top: 10px;
    margin-right: 0px;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
}

.postedreview {
    overflow:scroll;
    margin-top: 10px;
    width: 930px;
    height: 300px;
}

.posted {
    width: 930px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    margin-top: 10px;
}

.idcomment {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-direction: column;
}

.postedid {
    margin-bottom: 20px;
}
.postedcmt {
    width: 910px;
    margin-bottom:20px;
}

.edittext {
    width: 910px;
}

.deletebtn {
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.delbtn {
    border: 1px solid transparent;
    background-color: transparent;
}

.editbtn {
    border: 1px solid transparent;
    background-color: transparent;
}

.editdonebtn {
    border: 1px solid transparent;
    background-color: transparent;
}

.cancelbtn{
    border: 1px solid transparent;
    background-color: transparent;
}



