* {
  background-color: rgb(148, 71, 71);
}

.header {
  width: 100vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Do Hyeon", sans-serif;
  min-width: 200px;
  max-width: 800px;
  color: black;
  margin: auto;
  text-align: center;
}

.search {
  font-family: "Do Hyeon", sans-serif;
  width: 100vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: black;
}

.search-input {
  font-family: "Do Hyeon", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  height: 2vw;
  color: black;
  border-color: black;
}

.search-btn {
  font-family: "Do Hyeon", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  height: 2vw;
  color: black;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 20%;
  transition: color 0.3s, background-color 0.3s;
}

.search-btn:hover {
  background-color: rgba(22, 57, 110, 0.414);
  color: white;
}

.movieCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
  margin: 20px;
  padding: 20px;
  place-items: center;
}

.movie-card {
  background-color: rgb(216, 167, 158);
  width: 500px;
  margin: 20px;
  padding: 20px;
  border: double 5px;
  grid-gap: 100px;
  cursor: pointer;
}

.movie-img {
  border: solid;
}
.movie-title {
  background-color: rgb(216, 167, 158);
  font-size: 1.5em;
}
.movie-rating {
  background-color: rgb(216, 167, 158);
  font-size: 1.3em; /* 글자가 너무 작아서 조금 키웠습니다. */
}
